


{% if customer %} {% assign digest = customer.id | append:customer.email | append:'af354fed-5ea1-4cea-af1e-5d5b35325f9f' | md5 %} {% endif %}

<script type="text/javascript">
window.sloyalty = window.sloyalty || {};
window.sloyalty.shop = 'pro-bike-supply.myshopify.com';

window.sloyalty.customer_id = '{% if customer %}{{ customer.id }}{% endif %}';
window.sloyalty.digest = '{% if customer %}{{ digest }}{% endif %}';

</script>




  


{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'af354fed-5ea1-4cea-af1e-5d5b35325f9f' | md5 %}

<div class="sloyalty-loyalty-widget"
     data-digest="{{ digest }}"
     data-shop="pro-bike-supply.myshopify.com"
     data-customer="{{ customer.id }}"></div>
{% else %}
<div class="sloyalty-loyalty-widget"
     data-shop="pro-bike-supply.myshopify.com"></div>
{% endif %}






<div class="sloyalty-referral-widget"
     data-shop="pro-bike-supply.myshopify.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>






{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'af354fed-5ea1-4cea-af1e-5d5b35325f9f' | md5 %}

<div class="sloyalty-standalone-share-widget"
     data-shop="pro-bike-supply.myshopify.com"
     data-customer="{{ customer.id }}"
     data-digest="{{ digest }}"></div>
{% else %}
<div class="sloyalty-standalone-share-widget"
     data-shop="pro-bike-supply.myshopify.com"
     data-customer=""></div>
{% endif %}






<div class="sloyalty-fans-widget"
     data-shop="pro-bike-supply.myshopify.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>


