<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>{% render 'pagefly-head' %}
  <!-- Added by AVADA Joy -->
  {% include 'avada-joy' %}
  <!-- /Added by AVADA Joy -->


  <meta name="google-site-verification" content="EYcL9jwo-Cz8vufbv4LWTHIbqjbA43w2T3IzP_xJjBU" />
 {%- render 'layouthub_header' -%}
  <link rel="stylesheet" href="https://obscure-escarpment-2240.herokuapp.com/stylesheets/bcpo-front.css">
  <script>var bcpo_product={{ product | json }}; {% if product.metafields.bcpo.bcpo_data %}var bcpo_data={{ product.metafields.bcpo.bcpo_data }};{% endif %} {% if shop.metafields.bcpo.bcpo_settings %}var bcpo_settings={{ shop.metafields.bcpo.bcpo_settings }};{% endif %}var inventory_quantity = [];{% for v in product.variants %}inventory_quantity.push({{v.inventory_quantity}});{% endfor %}if(bcpo_product) { for (var i = 0; i < bcpo_product.variants.length; i += 1) { bcpo_product.variants[i].inventory_quantity = inventory_quantity[i]; }}window.bcpo = window.bcpo || {}; bcpo.cart = {{cart | json}}; bcpo.ogFormData = FormData;</script>

    {% include 'best-option-initializer' %}

    <script type="text/javascript">
    var t1 = new Date();
    function _cacheScript(c,d,e){var a=new XMLHttpRequest;a.onreadystatechange=function(){4==a.readyState&&(200==a.status?localStorage.setItem(c,JSON.stringify({content:a.responseText,version:d})):console.warn("error loading "+e))};a.open("GET",e,!0);a.send()}function _loadScript(c,d,e,a){var b=document.createElement("script");b.readyState?b.onreadystatechange=function(){if("loaded"==b.readyState||"complete"==b.readyState)b.onreadystatechange=null,_cacheScript(d,e,c),a&&a()}:b.onload=function(){_cacheScript(d,e,c);a&&a()};b.setAttribute("src",c);document.getElementsByTagName("head")[0].appendChild(b)}function _injectScript(c,d,e,a){var b=document.createElement("script");b.type="text/javascript";c=JSON.parse(c);var f=document.createTextNode(c.content);b.appendChild(f);document.getElementsByTagName("head")[0].appendChild(b);c.version!=e&&localStorage.removeItem(d);a&&a()}function requireScript(c,d,e,a){var b=localStorage.getItem(c);null==b?_loadScript(e,c,d,a):_injectScript(b,c,d,a)};
    requireScript('jquery', '1.11.2', 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js', function(){});
    </script>   

{% include "load-metafields" %}
{% include 'shop-sheriff-amp' %}
    {% if template != 'index' %}
    <script>
      _affirm_config = {
        public_api_key:  "6GG51BKNU72PEOWR",
        script:          "https://cdn1.affirm.com/js/v2/affirm.js"
      };
      (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
      // Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
    </script>
    {% endif %}

    <meta name="google-site-verification" content="hDkQmg5bPHF1fKT9vKNVHny4YO-v_udBio-FAx2fsOg" />
    <meta name="google-site-verification" content="qqvIXOeOOiiJpdGjKGPVC9qrhmEh0Vjnqt8Uxaf1LIU" />
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
    
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://v.shopify.com">
    <link rel="preconnect" href="https://cdn.shopifycloud.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' or settings.top_bar_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.top_bar_font contains 'Google' %}{{ settings.top_bar_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" defer />
    {% endif %}
    

    {% include 'social-meta-info' %}

    {% if template != 'index' %}
    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">
	
    <link rel="preload" as="style" href="{{ 'styles.scss' | asset_url }}" defer="defer">
    {{ 'styles.scss' | asset_url | stylesheet_tag }}
    
    <link rel="preload" as="style" href="{{ 'custom.css' | asset_url }}" defer="defer">
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    
    <link rel="preload" as="style" href="{{ 'owl.carousel.css' | asset_url }}" defer="defer">
    {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
    
    <link rel="preload" as="style" href="{{ 'owl.theme.css' | asset_url }}" defer="defer">
    {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
    
    <link rel="preload" as="style" href="{{ 'new.scss.css' | asset_url }}" defer="defer">
    {{ 'new.scss.css' | asset_url | stylesheet_tag }}
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" defer="defer" />
    <!-- Icons -->
    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url }}">
    {% else %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />

    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}
<!-- 	<script defer charset="utf-8" src="//v2.zopim.com/?1NTDGFBScajBcl83wDS1y07Af8bn4X3Z" type="text/javascript"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js" defer="defer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js" defer="defer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js" defer="defer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js" defer="defer"></script>
    {% comment pluginspeed replaced-inliner DON'T CHANGE %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" defer="defer"></script>{% endcomment %}
<!--     {% include 'pluginspeed-inlined-jquery.min.js' %} -->

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>

    {% comment pluginspeed replaced-js DON'T CHANGE %}{{ 'app.js' | asset_url | script_tag }}{% endcomment %}
    {%- include 'pluginspeed-minify-asset', asset: 'app.js', tag: 'script', liquid_tag: true -%}
    
    {% if template != 'index' %}
    {{ 'ndnapps-sociallogin.css' | asset_url | stylesheet_tag }}
    {% if shop.customer_accounts_enabled %}{% unless customer  %}{{ 'ndnapps-sociallogin-script.js' | asset_url | script_tag }}{% endunless %}{% endif %}
    {% endif %}
    
  {% include 'meteor-menu', load: 'head' %}
  {{ content_for_header }}{% if template != 'index' %}
    {% include 'webyze-infinitelivepreviewoptions' %}
    {% endif %}    

    {% comment %} Bold:POv2 {% endcomment %}
    {% if template != 'index' %}
    <script>
      window.BOLD = window.BOLD || {};
      window.BOLD.options = {settings: {v1_variant_mode : true, hybrid_fix_auto_insert_inputs: true}};
    </script>
    {% include 'bold-common' %}
    {%- include 'bold-product' with product, hide_action: 'header' -%}
    {% comment pluginspeed replaced-js DON'T CHANGE %}{{ 'bold-helper-functions.js' | asset_url | script_tag }}{% endcomment %}{%- include 'pluginspeed-minify-asset', asset: 'bold-helper-functions.js', tag: 'script', liquid_tag: true -%}
    {% comment pluginspeed replaced-css DON'T CHANGE %}{{ 'bold.scss.css' | asset_url | stylesheet_tag }}{% endcomment %}{%- include 'pluginspeed-minify-asset', asset: 'bold.scss.css', tag: 'stylesheet', liquid_tag: true -%}
	{% endif %}
    
    {% if template != 'index' %}
    {% include 'judgeme_core' %}
    {% endif %}


  
<!-- CreativeR Store Pickup -->
{% include "creativer-store-pickup_settings" %}
<!-- CreativeR Store Pickup-->
{% include "onvoard-initialize-head" %}
    
  {% section 'filter-menu-settings' %}
  {% include 'scapp-customerinfo' %} 
  {% include 'bss-product-labels-configs' %}
  {% include 'scm-product-label-head' %}<!-- BeginConsistentCartAddon -->  <script>  {% if customer %}  Shopify.customer_logged_in = true ;  Shopify.customer_email = "{{ customer.email }}" ;  Shopify.log_uuids = true;  {% else %}  Shopify.customer_logged_in = false ;  Shopify.customer_email = "" ;  Shopify.log_uuids = true;  {% endif %}  </script>  <!-- EndConsistentCartAddon -->
  {% render 'qikify-apps' %}
  {% if content_for_header contains 'bss-b2b' %}{% include 'bss-b2b-cp-header' %}{% endif %}{% render 'bon-loyalty' %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HKJTMM3LQ9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HKJTMM3LQ9');
  </script>
</head>
            
             
  {% include 'search-autocomplete' %}

  <body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>

    {% section 'header' %}

    <div {% unless template contains "index" or template contains "article" or template contains "banner" %}class="container"{% endunless %}>
      <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->
      
      {% if template != 'index' %}
      <script type="text/javascript">if(typeof webyze_filterCollectionProducts == 'function')webyze_filterCollectionProducts();</script>

      {% include 'cart-shipping-calculator' %}
      {% endif %}
    </div>

    {% section 'footer' %}
    {% if settings.size_chart != blank %}
      <div id="size-chart" class="size_chart_content">
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        {{ pages[settings.size_chart].content }}
      </div>
    {% endif %}

    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}
    {% if template != 'index' %}
    <script>
      function shappify_options_rendered(){
        $('.shapp_full_width ').each(function(){
          $(this).find('option').first().text('Please Make A Selection');
          $(this).find('option').first().val('');
        });
        $('.shapp_full_width').change(function(){
          $(this).find('option').first().attr('disabled','disabled');
        });
      }
    </script>

    {% include "sloyalty-statusbar" %}
    {% endif %}

    {% comment %}
    <!-- Power Tools view count code -->
    {% endcomment %}
    {% if template contains 'product' %}
    <script type="text/javascript">
      (function () {
        var oldonload = window.onload;
        window.onload = function(){
          var scr = document.createElement("script");
          scr.setAttribute('async', 'true');
          scr.type = "text/javascript";
          scr.src = "//ping.powertoolsapp.com/ping/{{ shop.permanent_domain }}/{{ product.id }}?weight=1{% if collection %}&collection_id={{ collection.handle }}{% endif %}";
          ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
          if(oldonload){oldonload()}};
      }());
    </script>
    {% endif %}



    <!-- Google Code for Remarketing Tag -->
    {% comment %} Enter your google conversion id below {% endcomment %}
    {% assign google_conversion_id = 969478747 %}
    {% assign shopify_store_country  = 'US' %}
    {% if shop.currency == 'CAD' %}
    {% assign shopify_store_country  = 'CA' %}
    {% endif %}


    <script type="text/javascript">

      {% if template contains 'cart' %}
      var google_tag_params = {
        ecomm_prodid: [{% for item in cart.items %}'shopify_{{ shopify_store_country }}_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
        ecomm_pagetype: 'cart',
        ecomm_totalvalue: {{ cart.total_price | money_without_currency | remove: ',' }}
      };

        {% elsif template contains 'collection' %}
        var google_tag_params = {
        ecomm_prodid: [{% for item in collection.products limit:5 %}'shopify_{{ shopify_store_country }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
        ecomm_pagetype: 'category',
        ecomm_category: '{{ collection.handle }}'
      };

      {% elsif template contains 'index' %}
      var google_tag_params = {
        ecomm_pagetype: 'home'
      };

      {% elsif template contains 'product' %}
      var google_tag_params = {
        ecomm_prodid: 'shopify_{{ shopify_store_country  }}_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
        ecomm_pagetype: 'product',
        ecomm_totalvalue: {{ product.price | money_without_currency | replace: ',', '' }},
      };

      {% elsif template contains 'search' %}
      var google_tag_params = {
        ecomm_prodid: [{% for item in search.results limit:5 %}'shopify_{{ shopify_store_country  }}_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
        ecomm_pagetype: 'searchresults'
      };
      {% else %}
      var google_tag_params = {
        ecomm_pagetype: 'other'
      };

      {% endif %}
    </script>


    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 969478747;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/969478747/?guid=ON&amp;script=0"/>
      </div>
    </noscript>

<!-- PROOFFACTOR CODE START -->
{% capture proof_factor_snippet_content %}{% include 'proof-factor-plugin' %}{% endcapture %}
{% if proof_factor_snippet_content contains "data-account-id" %}
{{ proof_factor_snippet_content }}
{% endif %}
<!-- PROOFFACTOR CODE END -->
 {% if template != 'index' %}
    {% render 'preorder-now' %}
  
    {% include "bc_banner" %}
    <script>(function(document, tag) { var script = document.createElement(tag); var element = document.getElementsByTagName('body')[0]; script.src = 'https://acsbap.com/apps/app/assets/js/acsb.js'; script.async = true; script.defer = true; (typeof element === 'undefined' ? document.getElementsByTagName('html')[0] : element).appendChild(script); script.onload = function() { acsbJS.init({ statementLink : '', feedbackLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'default', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 0, triggerOffsetY : 0, triggerRadius : '0' } }); };}(document, 'script'));</script>
   
    <!-- sh-ssp-added -->
    {% render 'sh-ssp-theme-snippet' %}
    <!-- /sh-ssp-added --> 

    <!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
  {% endif %}    
<!-- {% include 'adroll' %} -->
{% include 'adroll' %}
{% include "onvoard-initialize-data" %}


{% include 'swymSnippet' %}

{% include "onvoard-backinstock" %}
 
 
{%- render 'layouthub_footer' -%} 
 {% if content_for_header contains 'product_label' %}{% include 'bss-product-label-js' %}{% include 'bss-label-style-css' %}{% endif %}
<!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_ctb_main', product: product, customer: customer %}
    <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->


	
{% if content_for_header contains 'bss-b2b' %}{% include 'bss-b2b-jquery-341-js' %}{% include 'bss-b2b-js' %}{% endif %} {% include 'smile-initializer' %}

 
  
  
  <div class="index-section--flush powr-popup" id="657579f1_1667255756"></div>
 <script> (function () { var s = document.createElement('script'); s.src = 'https://cdn.willdesk.com/wdc/willdesk.min.js?v='; s.src += new Date().getTime(); document.body.appendChild(s); })(); </script>
  <!--Structed data markup -->
  {% if template contains 'product' %}
    <script type="application/ld+json">
    {
      "@context":"http://schema.org",
      "@type":"Product",
      "@id":"{{ shop.url }}{{ product.url}}", 
      "name": {{ product.title | json }},
      {% if product.selected_or_first_available_variant.sku != blank %}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {% endif %}
      "description": {{ product.description | strip_html | truncatewords: 50 | json }},
      "url": {{ canonical_url | json }},
      "image": {
        "@type": "ImageObject",
        "url": "https:{{ product.featured_media.preview_image | img_url: '1024x1024' }}",
        "image": "https:{{ product.featured_media.preview_image | img_url: '1024x1024' }}",
        "name": {{ product.title | json }},
        "width": 1024,
        "height": 1024
      },
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }},
        "url": {{ jsonld_brand_url | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type": "Offer",
            "priceCurrency": "{{ cart.currency.iso_code }}",
            "price": "{{ product.selected_or_first_available_variant.price | money_without_currency | remove: ',' }}",
            "availability": "http://schema.org/{% if product.selected_or_first_available_variant.inventory_quantity > 0 or content_for_header contains 'globo.preorder' %}InStock{% else %}OutOfStock{% endif %}",
            "itemCondition": "http://schema.org/NewCondition",
            "seller": "{{ shop.name | escape }}",
            "url": "{{ shop.secure_url }}{{ product.selected_or_first_available_variant.url }}"
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
      
    }
    </script>
  {% endif %}
  <!--End of Structed data markup -->
 </body>        
</html>
{% if template != 'index' %}
{% include 'spently-featured-products' %}
<script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=pro-bike-supply.myshopify.com" defer></script>
{% endif %}
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>

<!-- BEGIN GCR Opt-in Module Code -->
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer>
</script>

<script>
  window.renderOptIn = function() {
    window.gapi.load('surveyoptin', function() {
      window.gapi.surveyoptin.render({
        // EXISTING FIELDS
        "merchant_id": 115812969,
        "order_id": "ORDER_ID",
        "email": "CUSTOMER_EMAIL",
        "delivery_country": "COUNTRY_CODE",
        "estimated_delivery_date": "YYYY-MM-DD",

        // NEW FIELDS
        "products": [{"gtin":"GTIN1"}, {"gtin":"GTIN2"}]
      });
    });
  }
</script>
<!-- END GCR Opt-in Module Code -->

<!-- BEGIN GCR Badge Code -->
<script src="https://apis.google.com/js/platform.js?onload=renderBadge"
  async defer>
</script>

<script>
  window.renderBadge = function() {
    var ratingBadgeContainer = document.createElement("div");
      document.body.appendChild(ratingBadgeContainer);
      window.gapi.load('ratingbadge', function() {
        window.gapi.ratingbadge.render(
          ratingBadgeContainer, {
            // REQUIRED
            "merchant_id": 115812969,
            // OPTIONAL
            "position": "INLINE"
          });           
     });
  }
</script>
<script>
      
  var interval = setInterval(function() {
          if(document.readyState === 'complete') {
             if (typeof SECOMAPP !== "undefined" && typeof SECOMAPP.pl !== "undefined") {     
        		setTimeout(function (){
                      SECOMAPP.pl.labelCollections(true);
                      console.log(' show label ');
                      clearInterval(interval);
                  },1500)
      		 }
          }
    	}, 500);
</script>
<!-- END GCR Badge Code -->

{% include 'custom_ga4_tracking' %}
